body {
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    font-family: inconsolata, monospace;
}

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

.pane {
    display: inline-block;
    width: 50%;
    height: 50%;
    /* overflow: hidden is important to prevent window resizes resulting in the occasional single pane sizing itself strangely and leaving some whitespace: since each component watches for window.resize events and resizes the canvas according to its parent size, because that WINDOW resize event MAY be issued before this ELEMENT is painted and its new size set, you might end up with a pane that's still too wide, resulting in a new canvas that's bigger than it should be, resulting in the next pane to be sized weirdly... */
    overflow: hidden;
    background-image: -webkit-linear-gradient(45deg, #222, #444);
}

#controls {
    flex: 0 1 auto;
    overflow: hidden;
    background-color: #181818;
    overflow-y: auto;
    padding: 0.5em;
    min-width: 200px;
}

#controls table {
    width: 100%;
}

#controls hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

#quadview {
    flex: 1 1 auto;
}

.palette>table {
    border-collapse: 'collapse';
    border-spacing: 0;
    display: inline-block;
}

.palette>table td {
    width: 12px;
    height: 12px;
}

.palette>canvas {
    display: inline-block;
}

.dialog .head {
    display: flex;
    margin-bottom: 0.5em;
}

.dialog .head>.title {
    flex: 1 1 auto;
}

.dialog .head>.close {
    flex: 0 0 auto;
    cursor: pointer;
}

.dialog .head>.close::after {
    content: '✖';
}
